@import './index.scss';
@import './_include_media.scss';

$breakpoints: (
	phone: 375px,
	tablet: 768px,
	desktop: 1024px,
	fullscreen: 1440px,
);

.card {
	background-color: $card-bg;
	padding: 2em;
	border-radius: $border-radius;
	max-height: fit-content;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 3.5em 2em 0.5em hsl(217, 91%, 8%);

	&__image {
		position: relative;
		img {
			display: block;
			border-radius: $border-radius;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}

		.overlay {
			opacity: 0;
			transition: opacity 0.45s ease-in-out;
		}

		.overlay:hover,
		.overlay:active {
			opacity: 1;
			cursor: pointer;
		}

		.overlay > img {
			object-fit: none;
			max-width: auto;
			max-height: auto;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba($primary-cyan, 0.5);
		}
	}

	&__content {
		h2 {
			font-weight: $weight-bold;
			color: $white;
			transition: hover 0.45s ease-in-out;
		}

		h2:hover,
		h2:active {
			cursor: pointer;
			color: $primary-cyan;
		}

		p {
			font-size: $paragraph-fs;
			font-weight: $weight-thin;
			color: $primary-soft-blue;
		}
	}

	&__detail {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.price,
		.time {
			display: flex;
			justify-content: space-around;
			align-items: center;
			gap: 10px;
			font-weight: $weight-bold;
			color: $primary-cyan;
		}

		.time {
			img {
				height: 1em;
				width: 1em;
			}

			font-weight: $weight-md;
			color: $primary-soft-blue;
		}
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid $line;
		padding: 0;
	}

	&__attribution {
		margin-top: 1.5em;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: $border-radius;
		font-size: $paragraph-fs;
		font-weight: $weight-md;
		color: $primary-soft-blue;

		img {
			border: 2px solid $white;
			border-radius: 50%;
			width: 3em;
			height: 3em;
		}

		p > span {
			color: $white;
			transition: hover 0.45s ease-in-out;
		}

		p > span:hover,
		p > span:active {
			cursor: pointer;
			color: $primary-cyan;
		}
	}
}

@media (min-width: $desktop) {
	.card {
		max-width: 30%;
	}
}

// @media (min-width: $desktop) {
// 	.card {
// 		max-width: 70%;
// 	}
// }

@include media('<=phone') {
	max-height: fit-content;
	max-width: 75%;
}

@include media('>phone', '<=tablet') {
	max-height: fit-content;
	max-width: 30%;
}

@include media('>=tablet') {
	max-height: fit-content;
	max-width: 17%;
}
